$red-default : red;

.hidden {
  visibility: hidden;
}

#loader {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  justify-content: center !important;
  align-items: center !important;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $red-default;
  letter-spacing: 0.2em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $red-default;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px
  }
  50% {
    height: 8px;
    width: 40px
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px
  }
}
