<div class="container">
  <div class="row">
    <div class="col-12 content-wrapper">
      <div class="card">
        <h1 class="text-center">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group pb-2 pt-3">
            <input type="email" class="form-control border-top-0 border-right-0 border-left-0" placeholder="Email"
              formControlName="email" [ngClass]="{'is-invalid': submitted && fetch.email.errors }">
            <div *ngIf="submitted && fetch.email.errors" class="invalid-feedback">
              <div *ngIf="fetch.email.errors.required">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control border-top-0 border-right-0 border-left-0" placeholder="Password"
              formControlName="password" [ngClass]="{'is-invalid': submitted && fetch.password.errors }">
            <div *ngIf="submitted && fetch.password.errors" class="invalid-feedback">
              <div *ngIf="fetch.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-6">
              <div class="form-group text-center pt-5 mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log
                  In
                </button>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="form-group text-center">
                <button type="button" class="btn btn-info" routerLink="/signup">Sign
                  Up
                  <!-- routerLink="/signup" (click)="getSignup()"-->
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>