.container {
  height: 100vh;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .content-wrapper {
      width: 50%;

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 75px;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    width: 100% !important;
    padding: 0 16px;
  }

  .card {
    padding: 25px !important;
  }
}
