<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 content-wrapper">
            <div class="card">
                <h1 class="text-center">Signup</h1>
                <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
                    <div class="form-group pb-2 pt-3">
                        <input type="name" class="form-control border-top-0 border-right-0 border-left-0"
                            placeholder="Name" formControlName="name"
                            [ngClass]="{'is-invalid': submitted && fetch.name.errors }">
                        <div *ngIf="submitted && fetch.name.errors" class="invalid-feedback">
                            <div *ngIf="fetch.name.errors.required">name is required</div>
                        </div>
                    </div>
                    <div class="form-group pb-2 pt-3">
                        <input type="email" class="form-control border-top-0 border-right-0 border-left-0"
                            placeholder="Email" formControlName="email"
                            [ngClass]="{'is-invalid': submitted && fetch.email.errors }">
                        <div *ngIf="submitted && fetch.email.errors" class="invalid-feedback">
                            <div *ngIf="fetch.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control border-top-0 border-right-0 border-left-0"
                            placeholder="Password" formControlName="password"
                            [ngClass]="{'is-invalid': submitted && fetch.password.errors }">
                        <div *ngIf="submitted && fetch.password.errors" class="invalid-feedback">
                            <div *ngIf="fetch.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group text-center pt-5 mt-3">
                        <button type="submit" class="btn btn-primary btn-1 justify-content-center"
                            [disabled]="!signupForm.valid">Signup
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>